### Task 2.4

In [26]:
import pandas as pd

def create_medications(names, counts):
    """
    Напишите функцию create_mediactions(names, counts), которая  создает Series medications,
    индексами которой являются названия лекарств names, а значениями - их количество в поставке counts
    """
    medications = pd.Series(
        data = counts,
        index = names,
        name = 'medications'
        )
    return medications

In [31]:
def get_percent(medications, name):
    """
    А также напишите функцию get_percent(medications, name), которая возвращает долю количества товара
    с именем name от общего количества товаров в поставке в процентах.
    """
    doll = medications.loc[name]/sum(medications)*100
    return doll

In [32]:
if __name__ == '__main__':
    names=['chlorhexidine', 'cyntomycin', 'afobazol']
    counts=[15, 18, 7]
    medications = create_medications(names, counts)
    print(get_percent(medications, "chlorhexidine")) #37.5

37.5

## Task 3.5

In [44]:
import pandas as pd

def create_companyDF(income, expenses, years):
    """
    Создайте функцию create_companyDF(income, expenses, years), которая  возвращает DataFrame, 
    составленный из входных данных со столбцами “Income” и “Expenses” и индексами, соответствующим годам рассматриваемого периода.
    """
    df = pd.DataFrame({
        'Income': income,
        'Expenses': expenses
    }, index = years)

    return df

In [52]:
def get_profit(df, year):
    
    """
    А также напишите функцию get_profit(df, year), которая возвращает разницу между доходом и расходом, записанных в таблице df, за год year.
    Учтите, что если информация за запрашиваемый год не указана в вашей таблице вам необходимо вернуть None. 
    """
    if year not in df.index:
        return None
    profit = df.loc[year, 'Income'] - df.loc[year, 'Expenses']
    return profit

In [54]:
if __name__ == '__main__':
    expenses = [156, 130, 270]
    income = [478, 512, 196]
    years = [2018, 2019, 2020]
    
    scienceyou = create_companyDF(income, expenses, years)
    print(get_profit(scienceyou, 2021)) #-74

None

In [1]:
import pandas as pd
melb_data = pd.read_csv('data/melb_data.csv', sep=',')

In [60]:
melb_data.loc[15, 'Price']

1310000.0

In [61]:
melb_data.loc[90, 'Date']

'10/09/2016'

In [65]:
round(melb_data.loc[3521, 'Landsize']/melb_data.loc[1690, 'Landsize'])

3

In [9]:
print(melb_data['Landsize'].std())
print(melb_data['Price'].std())

3990.6692411090316
639310.724296018

In [15]:
print (melb_data['Propertycount'].max())

21650.0

In [17]:
print (round(melb_data['Distance'].std()))

6

In [26]:
print (melb_data['BuildingArea'].mean())
print (melb_data['BuildingArea'].median())
print (round(abs((melb_data['BuildingArea'].median() - melb_data['BuildingArea'].mean())/melb_data['BuildingArea'].mean()*100)))

139.63397229013256
126.0
10

In [37]:
a = [1, 2, 4, 2, 3, 2, 1, 5, 6]
c = pd.DataFrame(a)
m = c.mode()
print (m)

   0
0  2

In [40]:
print (melb_data['Bedroom'].mode())

0    3.0
Name: Bedroom, dtype: float64

In [2]:
melb_data['Bathroom'].head()

0    1.0
1    1.0
2    2.0
3    2.0
4    1.0
Name: Bathroom, dtype: float64

In [5]:
melb_data[melb_data['Bathroom'] == 0 ]['Bathroom'].count()

34

In [8]:
melb_data[(melb_data['SellerG'] == 'Nelson') & (melb_data['Price'] > 3000000)]['SellerG'].count()

5

In [9]:
melb_data[melb_data['BuildingArea'] == 0]['Price'].min()

412500.0

In [11]:
round(melb_data[(melb_data['Price'] < 1000000) & ((melb_data['Rooms'] > 5) | (melb_data['YearBuilt'] > 2015))]['Price'].mean())

769239

In [14]:
melb_data[(melb_data['Type'] == 'h') & (melb_data['Price'] < 3000000)]['Regionname'] .mode()

0    Northern Metropolitan
Name: Regionname, dtype: object

In [20]:
student_data = pd.read_csv('data/students_performance.csv', sep= ',')

In [21]:
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

gender — пол;

race/ethnicity — раса/этническая принадлежность;

parental level of education — уровень образования родителей;

lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);

test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);

math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.

In [23]:
student_data.loc[155]

gender                               female
race/ethnicity                      group C
parental level of education    some college
lunch                              standard
test preparation course           completed
math score                               70
reading score                            89
writing score                            88
Name: 155, dtype: object

In [24]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [26]:
round(student_data['math score'].mean())

66

In [28]:
student_data.describe(include='object')

,gender,race/ethnicity,parental level of education,lunch,test preparation course
count,1000,1000,1000,1000,1000
unique,2,5,6,2,2
top,female,group C,some college,standard,none
freq,518,319,226,645,642

In [39]:
round(student_data[student_data['test preparation course'] == 'completed']['reading score'].mean())

74

In [40]:
student_data[student_data['math score']==0].count()

gender                         1
race/ethnicity                 1
parental level of education    1
lunch                          1
test preparation course        1
math score                     1
reading score                  1
writing score                  1
dtype: int64

In [49]:
student_data[student_data['lunch'] == 'free/reduced']['math score'].mean()

58.92112676056338

In [50]:
student_data[student_data['lunch'] == 'standard']['math score'].mean()

70.03410852713178

In [56]:
round(student_data[student_data['parental level of education'] == "bachelor's degree"]['math score'].count()/1000*100)

12

In [74]:
a_median = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
c_mean = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()
round(abs(a_median - c_mean))

6