In [27]:
import pandas as pd
import numpy as np

In [28]:
X_train = np.loadtxt("data/train.txt")
y_train = np.loadtxt("data/train_labels.txt")
 
X_test = np.loadtxt("data/test.txt")
y_test = np.loadtxt("data/test_labels.txt")
X = np.concatenate((X_train, X_test))
y = np.concatenate((y_train, y_test))
X.shape

(10299, 561)

In [29]:
len(np.unique(y))

6

In [30]:
from sklearn.preprocessing import StandardScaler

In [31]:
scaler = StandardScaler()
X_scaler = scaler.fit_transform(X)
X_scaler[0][0]

0.2105338541767611

In [32]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

In [33]:
for i in range(2, 10):
    model=KMeans(n_clusters = i , random_state = 42)
    model.fit(X_scaler)
    pred = model.labels_
    print (i, silhouette_score(X_scaler, pred))

2 0.3937324764077081
3 0.31548375272734164
4 0.15052911849826184
5 0.12723671885995455
6 0.11096892121098482
7 0.08541910378666204
8 0.07618332955957029
9 0.07648837092046107

In [34]:
from sklearn.metrics import calinski_harabasz_score

In [35]:
for i in range(2, 10):
    model=KMeans(n_clusters = i , random_state = 42)
    model.fit(X)
    pred = model.labels_
    print (i, calinski_harabasz_score(X, pred))

2 13589.031444388154
3 8009.730060979723
4 6265.991861580165
5 5054.345161542984
6 4252.417191547702
7 3700.4040956209137
8 3270.24622173234
9 2955.0073314506926

In [36]:
from sklearn.metrics import davies_bouldin_score

In [37]:
for i in range(2, 10):
    model=KMeans(n_clusters = i , random_state = 42)
    model.fit(X)
    pred = model.labels_
    print (i, davies_bouldin_score(X, pred))

2 0.8440194283334235
3 1.6855066869081101
4 2.0448505117969598
5 2.0705324145760704
6 2.2968312563121227
7 2.403501917207053
8 2.390811864911371
9 2.444077600375657

In [38]:
from sklearn.metrics import completeness_score
from sklearn.metrics import homogeneity_score
from sklearn.metrics import adjusted_rand_score

In [39]:
km=KMeans(n_clusters=6, random_state=42)
km.fit(X_scaler)
pred = km.labels_
print (completeness_score(y, pred))
print (homogeneity_score(y, pred))
print (adjusted_rand_score(y, pred))

0.5807797117737106
0.5404263978615286
0.419224271062724

In [40]:
#создаём таблицу сопряжённости
ct = pd.crosstab(y, pred)
#определяем название активностей
ct.index = ['ходьба', 'подъём', 
            'спуск', 'сидение', 'стояние', 'лежание']
ct.columns = list(range(1,7))

In [41]:
ct

           1     2     3    4    5     6
ходьба     0   903     0  742   77     0
подъём     2  1242     0  295    5     0
спуск      0   321     0  889  196     0
сидение  451     1    91    0    0  1234
стояние  566     0     0    0    0  1340
лежание  330     5  1556    0    0    53

In [42]:
km2 = KMeans(n_clusters=2, random_state=42, init='random')
km2.fit(X_scaler)

#создаём таблицу сопряжённости
ct2 = pd.crosstab(y, km2.labels_)
#определяем название активностей
ct2.index = ['ходьба', 'подъём', 
            'спуск', 'сидение', 'стояние', 'лежание']
ct2.columns = list(range(1,3))
ct2

            1     2
ходьба   1722     0
подъём   1536     8
спуск    1406     0
сидение     3  1774
стояние     0  1906
лежание    12  1932

In [43]:
print (completeness_score(y, km2.labels_))

0.979530559699631

In [44]:
from sklearn.cluster import AgglomerativeClustering

agg_clust = AgglomerativeClustering(n_clusters=2)
agg_clust.fit(X_scaler)

print (completeness_score(y, agg_clust.labels_))

0.9999999999999993

# PCA

In [45]:
a = np.matrix([[3, 4, 1],
              [1, 6, 2]])
df = pd.DataFrame(a)
df_std = (df - df.mean()) / df.std()

cov1 = np.cov(df)

In [46]:
cov1

array([[2.33333333, 2.5       ],
       [2.5       , 7.        ]])

In [47]:
round(cov1.sum(), 2)

14.33

In [48]:
np.cov(np.array([3,4,1]),np.array([1,6,2])).sum()

14.333333333333334

In [49]:
A = np.matrix([[8,7,2,9],
               [1,3,6,3],
               [7,2,0,3],
               [10,3,1,1],
               [8,1,3,4]])

df = pd.DataFrame(A)
df_std  = (df - df.mean()) / (df.std())

In [50]:
from sklearn.decomposition import PCA

In [51]:
pca = PCA(n_components=0.9)
principalComponents=pca.fit_transform(df_std)